@using KnowledgeMVCSite.Models
@model List<KnowledgeMVCSite.Models.IndexViewModel.Know>

<div id="reportKnow" class="row col-md-12 col-xs-12">
    <div class="list-group">
        <div class="list-group-item active">
            <h4 class="list-group-item-heading">您分享的知识</h4>
        </div>
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                <h4 class="list-group-item-heading">
                    @item.Title --------@item.CreateTime
                </h4>
                <span>
                    <a href='@Url.Action("Edit","Knowledge",routeValues:new { id = item.Id })' class="btn btn-link">编辑</a>
                    <a href="#" class="btn btn-link" onclick="removeKnow(@item.Id)">删除</a>
                </span>

            </div>

        }


    </div>
    
</div>
