@using KnowledgeMVCSite.Models;
@model List<ApplicationUser>

<table>
    @foreach (ApplicationUser user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>@user.UserName</td>
        </tr>
    }


</table>


