@{
    ViewBag.Title = "用户列表";
}

<table id="userTable" lay-filter="userTable"></table>

@section Scripts{
    <script>
        layui.use('table', function () {
            var table = layui.table;
            table.render({
                elem: '#userTable',
                height: 'full-138',
                url: '/Manage/UserManage',
                method:'post',
                page: true,
                request: {
                    pageName: 'pageCur' //页码的参数名称，默认：page
                    , limitName: 'pageLines' //每页数据量的参数名，默认：limit
                },
                cols: [[ //表头
                    { field: 'UserName', title: '用户名',  sort: true, fixed: 'left' }
                    , { field: 'PhoneNum', title: '手机号码' }
                    , { field: 'MailAddress', title: '邮箱地址',  sort: true }
                    , { field: 'City', title: '城市' }
                ]]



            });
        })
    </script>




}
