
@{
    ViewBag.Title = "关于";
}

<h2>关于</h2>
<p>
    本网站由俞程仁制作,欢迎访问及上传知识
    可以通过QQ:539928505和我联系
    通过<a href="mailto:18721600247@139.com">18721600247@139.com邮件</a>联系我




</p>
<div>
    <p>扫描以上二维码加我微信</p>
    <img style="width:20%;height:20%" src="~/Content/img/WeChat.jpg" />
    
</div>

<p class="text-success">
    知识成就未来,知识改变命运,让我们一起拥抱知识
</p>

